<div class="alert alert-danger" *ngIf="errors && errors.length > 0">
    <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
    <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
    </ul>
</div>
