<!-- (click)="isCollapsed = !isCollapsed"  -->
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/home']">RH - Benefícios</a>
            <button  (click)="isCollapsed = !isCollapsed"  class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            
                <span class="navbar-toggler-icon"></span>
            </button>
            <div [ngbCollapse]="isCollapsed"  class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" >
                
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item" *ngIf="usuarioLogado()">
                        <a class="nav-link text-dark" [routerLink]="['/funcionario']">Funcionário</a>
                    </li>
                </ul>               
            </div>
        </div>
    </nav>
</header>