<div class="container main-container">
    <h1>Novo Funcionário</h1>

    <hr>
    <form novalidate="novalidate" (ngSubmit)="adicionarFuncionario()" [formGroup]="form">
        <app-erros [errors]="errors"></app-erros>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Cliente </label>
                    <div>
                        <select name="idCliente" id="idCliente"  formControlName="idCliente"
                            [ngClass]="{'is-invalid': displayMessage?.idCliente }" class="form-control">
                            <option value="">Cliente</option>
                            <option [value]="item.idCliente" *ngFor="let item of clientes">{{item.nome}}</option>
                        </select>
                        <span class="text-danger" *ngIf="displayMessage?.idCliente">
                            <p [innerHtml]="displayMessage?.idCliente"></p>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> CPF </label>
                    <div>
                        <input type="text" class="form-control" placeholder="CPF (requerido)"
                        formControlName="cpf" cpf [textMask]="getMask()" [ngClass]="{'is-invalid': displayMessage?.cpf }">
                        <span class="text-danger" *ngIf="displayMessage?.cpf">
                            <p [innerHtml]="displayMessage?.cpf"></p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Nome </label>
                    <div>
                        <input type="text" class="form-control" placeholder="Nome ( Ex.: Maria ) "
                        formControlName="nome" [ngClass]="{'is-invalid': displayMessage?.nome }">
                        <span class="text-danger" *ngIf="displayMessage?.nome">
                            <p [innerHtml]="displayMessage?.nome"></p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> E-mail </label>
                    <div>
                        <input type="email" class="form-control" placeholder="E-mail ( Ex.: email@email.com ) "
                        formControlName="email"  [ngClass]="{'is-invalid': displayMessage?.email }">
                        <span class="text-danger" *ngIf="displayMessage?.email">
                            <p [innerHtml]="displayMessage?.email"></p>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Peso </label>
                    <div>
                        <!-- number [textMask]="{mask: MASKS.number.textMask}" -->
                        <input type="text" class="form-control" placeholder="Peso "
                        formControlName="peso"  [ngClass]="{'is-invalid': displayMessage?.peso }">
                        <span class="text-danger" *ngIf="displayMessage?.peso">
                            <p [innerHtml]="displayMessage?.peso"></p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Altura </label>
                    <div>
                        <input type="text" class="form-control" placeholder="Altura " formControlName="altura"
                         [ngClass]="{'is-invalid': displayMessage?.altura }">
                        <span class="text-danger" *ngIf="displayMessage?.altura">
                            <p [innerHtml]="displayMessage?.altura"></p>
                        </span>
                    </div>
                </div>
            </div>

             <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Horas Meditadas ( Ultimos 7 dias ) </label>
                    <div>
                        <input type="text" class="form-control" placeholder="Horas meditadas nos últimos 7 dias "
                        formControlName="horasMeditadasUltimosSeteDias"
                          [ngClass]="{'is-invalid': displayMessage?.horasMeditadasUltimosSeteDias }">
                        <span class="text-danger" *ngIf="displayMessage?.horasMeditadasUltimosSeteDias">
                            <p [innerHtml]="displayMessage?.horasMeditadasUltimosSeteDias"></p>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label"> Data Admissão </label>
                    <div>
                        <input type="text" class="form-control" placeholder="Data de Admissão"
                        formControlName="dataAdmissao" date  [textMask]="{mask: MASKS.data.textMask}" [ngClass]="{'is-invalid': displayMessage?.dataAdmissao }">
                        <span class="text-danger" *ngIf="displayMessage?.dataAdmissao">
                            <p [innerHtml]="displayMessage?.dataAdmissao"></p>
                        </span>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
               <div class="form-group">
                   <label class="control-label">Endereco </label>
                   <div>
                       <input type="text" class="form-control" placeholder="Endereco (Ex.: Av. principal ) "
                       formControlName="endereco"  [ngClass]="{'is-invalid': displayMessage?.endereco }">
                       <span class="text-danger" *ngIf="displayMessage?.endereco">
                           <p [innerHtml]="displayMessage?.endereco"></p>
                       </span>
                   </div>
               </div>
           </div>

       </div>


        <!-- <div formGroupName="endereco">
            <div class="row">
                <div class="col-md-12">
                    <h4>Endereço</h4>
                    <hr>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Logradouro </label>
                        <div>
                            <input type="text" class="form-control" id="logradouro" placeholder="Logradouro (requerido)"
                            formControlName="logradouro" [ngClass]="{'is-invalid': displayMessage?.logradouro }">
                            <span class="text-danger" *ngIf="displayMessage?.logradouro">
                                <p [innerHtml]="displayMessage?.logradouro"></p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label class="control-label"> Número </label>
                        <div>
                            <input type="text" class="form-control" id="numero" placeholder="Número (requerido)"
                            formControlName="numero" [ngClass]="{'is-invalid': displayMessage?.numero }">
                            <span class="text-danger" *ngIf="displayMessage?.numero">
                                <p [innerHtml]="displayMessage?.numero"></p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Cidade </label>
                        <div>
                            <input type="text" class="form-control" id="cidade" placeholder="Cidade (requerido)"
                            formControlName="cidade" [ngClass]="{'is-invalid': displayMessage?.cidade }">
                            <span class="text-danger" *ngIf="displayMessage?.cidade">
                                <p [innerHtml]="displayMessage?.cidade"></p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label"> Estado </label>
                        <div>
                            <select name="uf" id="uf"  formControlName="uf" [ngClass]="{'is-invalid': displayMessage?.cidade }" class="form-control">
                                <option value="">Estado</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <span class="text-danger" *ngIf="displayMessage?.uf">
                                <p [innerHtml]="displayMessage?.uf"></p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" [disabled]="!f.valid || processando" value="Cadastrar" class="btn btn-primary">&nbsp;
                </div>
            </div>
        </div>

    </form>
    <!-- <div class="row" >
        <div class="col-md-12">
            <app-form-debug [form]="form"></app-form-debug>
        </div>
    </div> -->
</div>
