<div class="container main-container">
  <br>
  <br>
  <hr>
  <div style="margin-top: 20px" *ngIf="form">
   
    <div>Debug do form</div>
    <pre>Form válido: {{ form.valid }}</pre>
    <pre>Form tocado: {{ form.touched }}</pre>
    <pre>Form sujo: {{ form.dirty }}</pre>
    <pre>Valores: <br>{{form.value | json }}</pre>
    
  </div>
</div>